*{
  padding: 0;
  margin: 0;
  border: 0;
}
a{
  text-decoration: none;
  color: black;
}
.navigasi{
  background-color: white;
  position: fixed;
  width: 100%;
  padding-bottom: 1%;
  box-shadow: 0px 5px 5px #000;
  font-family: myTwoFont;
  height: 15vh;
}
.navigasi ul li{
  display: inline-block;
  font-size: 17px;
  margin-right: 2%;

}
.navigasi ul li a:hover{
color: #ba5929;
border-bottom: 1px solid #ba5929;
padding-bottom: 30px;
border-width: medium;

}
.menu{
  text-align: right;
  margin-top: 3%;
}
.menu li:nth-child(6){
  margin-right: 0%;
}
.btn-daftar{
  margin-right: 0%;
  background-color: #ba5929;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  font-family: myTwoFont;
  border: 2px solid rgba(186, 89, 41,0.5);
  color: white;
}
.btn-daftar:hover{
  color:#ba5929 ;
  background-color: white;

}
.btn-login:hover{
  color: white;
  background-color: grey;

}
.btn-login{
  background-color: white;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 15px;
  border-width: 2px solid black;
  cursor: pointer;
  font-family: myTwoFont;
  border: 2px solid grey;

}
.jumbotron{
  width: 100%;
  height: 100vh;
  background-image: url('BB.jpg');
  background-size: cover;
  overflow: hidden;

}
.jumbotron2{
  width: 100%;
  height: 100vh;
  background-image: url('Beranda2.jpg');
  background-size: cover;
  overflow: hidden;
}
@font-face {
  font-family: myFirstFont;
  src: url(Gloss_And_Bloom.ttf);
}
@font-face {
  font-family: myTwoFont;
  src: url(poppins-medium.ttf);
}
.font-jumbotron{
  font-family: myFirstFont;
  font-size: 40px;
  color:#ba5929;
}
.font{
  margin-top: 20%;
  margin-left: 70%;
}
.learnmore{
  margin-top: 5%;
  text-align: center;
}
.learnmore a:hover{
  color: white;
}
.learnmore a{
  background-color: #ba5929;
  padding: 1% 1%;
  cursor: pointer;
  font-family: myTwoFont;
  font-size: 15px;
  box-shadow: 0px 3px 3px #000;
  color:black;
}
.content1{
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: black;
  padding-top: 5%;
  box-sizing: border-box;
  padding-bottom: 3%;
}
.judul1{
  text-align: center;
  width: 40%;
  margin: auto;
}
.kolomm .font-biasa{
  color: white;
  font-size: 25px;
  font-family: myTwoFont;
  margin-bottom: 10%;

}
.kolom{
  width: 35%;
  display: inline-block;
  margin: 5%;
  padding-left: 2%;
  padding: 2%;
  font-family: myTwoFont;
  cursor: pointer;
  border-radius: 10%;
  font-size: 15px;
}
.kolomm{
  width: 35%;
  display: inline-block;
  margin: 3%;
  padding-left: 1%;
  background-color: #262626;
  padding: 3% 0%;
}
.bottom{
  margin-top: 10%;
}
.Jmlhmakan{
  width: 15%;
  padding: 10%;
  margin: auto;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  font-family: myTwoFont;
  font-size: 20px;
  font-weight: 700;
}
.Jmlhmakan:hover{
  color: white;
  background-color: grey;
}
.kolom2{
  width: 25%;
  display: inline-block;
  margin-top: 5%;
  height: 20vh;

}
#Event .kolom-besar .kolom2{
    background-color: #262626;
    margin-right: 5%;
    height: 80vh;
}
#Event .kolom-besar .kolom2 img{
    width: 100%;
    height: 50vh;
    top: 0;
}
#Kontak .kolom-besar .kolom2{
    background-color: #262626;
    margin-right: 5%;
    height: 70vh;
}
#Kontak .kolom-besar .kolom2 img{
    width: 100%;
    height: 50vh;
    top: 0;
}
#TentangKami .kolom-besar .kolom{
  margin-bottom: 1%;
  height: 20vh;
}
#TentangKami .kolom-besar .kolom :hover{
  background-color: #262626;
}
#TentangKami a{
	background-color: transparent;
}
.kolom3:nth-child(1){
  width: 40%;
  text-align: left;
}
.kolom3{
  width: 15%;
  display: inline-block;
  margin-top: 5%;
}
.kolom-besar{
  text-align: center;
  width: 100%;
  display: inline-block;
}
.kolom-besar :hover{
  background-color: #262626;
}
.content2{
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #15191c;
  padding-top: 5%;
  box-sizing: border-box;
  padding-bottom: 5%;
}
.btn-search{
  background-color:#f4806c ;
  padding: 1%;
  border: 0;
  border-radius: 10px;
}
.content2 .judul1 input{
  border: 2px solid #f4806c;
  width: 70%;
  border-radius: 10px;
  margin-top: 3%;
  padding: 1%;
  background-color:black ;
  color: white;
}

/* form */
.judul{
  text-align: left;
  color: white;
  margin-bottom: 2%;
  margin-left: 2%;
  font-size: 30px;

}
.container{
  width: 50%;
  margin: auto;
  margin-top: 12vh;

}
.form{
  width : 100%;
  padding: 0;
}
.box .form input{
  width: 46%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #f4806c;
  margin-right: 2%

}
.Lupa{
  font-size: 14px;
  margin-left: 55%;
  color:  #ba5929;
  text-decoration: underline;
}
.btn{
    margin-top: 5%;
    margin-left: 2%;
    border: 0;
    background-color: #f4806c;
    color: white;
    border-radius: 20px;
    padding: 1% 2%;
    float: left;
    cursor: pointer;
    font-weight: 700;
    font-family: poppins;
  }
  .box{
   text-align: center;
  }
.box input{
    width: 95%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #f4806c;
    margin-top: 10%;
    margin-right: 2%;
    color: #f4806c;
    padding-bottom: 2%;
  }
.judul-login{
  width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}
.isi{
  margin-top: 5%;
  color: white;
  width: 100%;
  text-align: left;
}
p{
  color: white;
}
.text{
  color: white;
  font-family: myTwoFont;
}
.LombaMemasak{
  margin-top: 10%;
  margin-bottom: 5%;
}
.ketikpesan{
  width: 95%;
  margin-top: 10%;;
  color: #f4806c;
  background-color: transparent;
  border: 1px solid #f4806c;
  margin-right: 2%
}
.kolom3 img{
  width: 30%;
  cursor: pointer;
}
/* menu makan */
